# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# VIRTUAL ENV
# =========================
venv/

# =========================
# PYINSTALLER
# =========================
build/
dist/
*.spec

# =========================
# RUNTIME DATA
# =========================
cache/
logs/
input/
output/
backups/

# =========================
# IA MODELS
# =========================
models/

# =========================
# DATABASES
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# WINDOWS
# =========================
Thumbs.db
desktop.ini

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# TEMP
# =========================
*.tmp
*.temp